{% extends 'RendonanMiniBundle:Default:index.html.twig' %}

{% block content %}

    <div class="searchbar">
        Highscores - Memorial of Honour:
    </div>

    <br/>
    <table class="highscore">
        <tr class="top">
            <td class="rank">
                Rank
            </td>
            <td>
                Username
            </td>
            <td>
                Experience <a href="{{ path('rendonan_mini_scores') }}?stat=xp&order=1">^</a> <a href="{{ path('rendonan_mini_scores') }}?stat=xp&order=0">v</a>
            </td>
            <td>
                Wealth <a href="{{ path('rendonan_mini_scores') }}?stat=wealth&order=1">^</a> <a href="{{ path('rendonan_mini_scores') }}?stat=wealth&order=0">v</a>
            </td>
            <td>
                Health <a href="{{ path('rendonan_mini_scores') }}?stat=health&order=1">^</a> <a href="{{ path('rendonan_mini_scores') }}?stat=health&order=0">v</a>
            </td>
            <td>
                Strength <a href="{{ path('rendonan_mini_scores') }}?stat=strength&order=1">^</a> <a href="{{ path('rendonan_mini_scores') }}?stat=strength&order=0">v</a>
            </td>
            <td>
                Agility <a href="{{ path('rendonan_mini_scores') }}?stat=agility&order=1">^</a> <a href="{{ path('rendonan_mini_scores') }}?stat=agility&order=0">v</a>
            </td>
        </tr>

        {% set rank = 1 %}
        {% for user in users %}
            <tr class="bottom">
                <td class="rank">{{ rank }}</td>
                <td>{{ user.user }}</td>
                <td>{{ user.xp }}</td>
                <td>${{ user.coins }}</td>
                <td>{{ user.hp }}</td>
                <td>{{ user.str }}</td>
                <td>{{ user.agi }}</td>
            </tr>
            {% set rank = rank+1 %}
        {% endfor %}
    </table>

{% endblock %}